.navbar { 
    background-color: #7db1cf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 100%;
    max-width: 100%;
    margin: auto;
}

.navbar-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin: 0 15px;
}

.nav-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #0077b6;
}

.navbar-logo {
    width: 110px;
    border-radius: 20%;
}
