.footer {
    background-color: #7d9ecf;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.footer-logo {
    height: 110px;
    border-radius: 3px;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #f4a261;
}

.footer-bottom {
    margin-top: 10px;
}
